<br><br><br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" >
            <form novalidate class="simple-form">
                <h1>Add tag</h1>
                <input type="text" class="form-control" ng-model="tag.name" placeholder="Tag Name"></input>
                <br>
                <input type="text" class="form-control" ng-model="tag.desc" placeholder="Description"></input>
                <br>
                <button class="btn btn-default" ng-click="update(tag)">Create Tag</button>
            </form>
        </div>
    </div>
</div>